cars=[1,2,3,4]

In [ ]:
#my name defined

In [3]:
name=(1,2,3)
name

(1, 2, 3)

In [3]:
cars=["Toyota","isuzu","mitsubishi","tesla"]

In [12]:
print (f"my first car make was {cars[2].title()}")

my first car make was Mitsubishi

Changing items in a list

In [13]:
cars[-1]="Leyland"
print (cars)

['Toyota', 'isuzu', 'mitsubishi', 'Leyland']

append function to add items at the end of a list

In [15]:
cars .append("Tesla")
print (cars)

['Toyota', 'isuzu', 'mitsubishi', 'Leyland', 'Tesla']

In [3]:
motorbikes=[]
motorbikes.append("honda")
motorbikes.append("yamaha")
motorbikes.append("suzuki")
print(motorbikes)

['honda', 'yamaha', 'suzuki']

In [4]:
motorbikes.insert(0,"ducati")
print (motorbikes)

['ducati', 'honda', 'yamaha', 'suzuki']

In [31]:
del motorbikes[0]
motorbikes

['yamaha', 'suzuki', 'bugati']

In [6]:
for bike in motorbikes:
    print(bike)

ducati
honda
yamaha
suzuki

In [9]:
for bike in motorbikes:
       print (f'{bike.title()} is very powerful')
       print(f'I cant wait to ride {bike.title()} again.\n')#\n creates a new line
print('Thankyou everyone for presenting!')

Ducati is very powerful
I cant wait to ride Ducati again.

Honda is very powerful
I cant wait to ride Honda again.

Yamaha is very powerful
I cant wait to ride Yamaha again.

Suzuki is very powerful
I cant wait to ride Suzuki again.

Thankyou everyone for presenting!

In [13]:
numbers=list (range(0,10,2))
print (numbers)

[0, 2, 4, 6, 8]

In [16]:
squarenumber=[]
for number in range(10):
    squarenumber.append(number**2)
print(squarenumber)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

slicing a list using indexes

In [21]:
specificnumbers=numbers[0:5]
print(specificnumbers)

[0, 2, 4, 6, 8]

In [26]:
for number in numbers[0:5]:
    print(number)
print("Top numbers are above:")

0
2
4
6
8
Top numbers are above:

In [38]:
available_items=["unga","sugar","milk"]
requested_items=["milk","coffee"]
for needed_item  in requested_items:
    if needed_item not in available_items:
        print(f"{needed_item} is not in stock ")

coffee is not in stock

working woth dictionaries:

In [47]:
alien={"name":"Kimberly","language":"ZUlu","points":2}

In [48]:
print (alien["points"])

2

In [49]:
alien ["gender"]="m"
alien

{'name': 'Kimberly', 'language': 'ZUlu', 'points': 2, 'gender': 'm'}